@-webkit-keyframes fall {
  0% { -webkit-transform: rotate(0); }
  20% { -webkit-transform: rotate(-1deg); }
  30% { -webkit-transform: rotate(1deg) translateY(0);; }
  40% { -webkit-transform: rotate(-1deg); opacity: 1; }
  50% { -webkit-transform: rotate(1deg); }
  80% { -webkit-transform: translateY(700px); }
  100% { opacity: 0; }
}

.falling {
  -webkit-animation-name: fall;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeout {
  -webkit-animation-name: fadeout;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}
