@-webkit-keyframes fall {
  0% { -webkit-transform: rotate(0); }
  20% { -webkit-transform: rotate(-1deg); }
  30% { -webkit-transform: rotate(1deg) translateY(0);; }
  40% { -webkit-transform: rotate(-1deg); opacity: 1; }
  50% { -webkit-transform: rotate(1deg); }
  80% { -webkit-transform: translateY(700px); }
  100% { opacity: 0; }
}

.falling {
  -webkit-animation-name: fall;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes blur {
  0% { -webkit-filter: blur(0); }
  100% { -webkit-filter: blur(20px); }
}

.blurring {
  -webkit-animation-name: blur;
  -webkit-animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}
